*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video__container{
    margin: 20px 40px;
    position: relative;
}
.video{
    position: relative;
    /* z-index: 1; */
}

.media__player--controls{
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;
    background-color: white;
}

.progress{
    position: absolute;
    bottom: 25px;
    width: 95%;
    height: .6em;
    border-radius: 8px;
    background-color: violet;
}
